.noListStyle {
    list-style: none;
}

header {
    height: 120px;
    margin-bottom: 20px;
    
}


.headerRight{
	float: right;
}

.headerTitle{
	text-align: center;
	margin: auto;
  	width: 50%;
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: grey;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

.leftBar {
    float: left;
    width: 150px;
}

.leftBar ul {
	line-height: 1.5em;
}


.rightBar {
    float: right;
    width: 150px;
   
}

.middleSection {
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 10px;
    padding: 5px;
}

.postBox {
	width: 60%;
	margin: auto;
	border: thin black solid;
	margin-top: 10px;
}

header h1 {
	margin-top: 0px;
	margin-left: 10px;
}



